/* .h1_titel{
  color: rgb(20, 19, 19);
text-align: center;
margin-top: 50px;
}

.card_div{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}


.card {
    border: 1px solid #0f0808;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    width: 300px;
    height: auto; 
    margin-right: 20px;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #fff;
  }
  
  .card:hover {
    box-shadow: 2px 2px 5px #aaa;
  }
  
 .card_image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.card_content {
  height: auto;
  margin-top: 20px;
  font-size: 0.9em; 
  overflow: hidden; 
  display: flex;
  flex-direction: column; 
  align-items: center;
}

.card_content p {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  color: #1f1c1c;
}

.detail_info {
  padding-left: 5px;
}
  
  .card_title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  .card_text {
    font-size: 1em;
  }
  
  @media (max-width: 600px) {
    .card {
      width: 100%;
      height: auto;
    }
  
    .card_image {
      max-height: 50%;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  
    .card_content {
      height: auto;
      font-size: 0.8em; Reducir el tamaño de la fuente del texto 
    }
  }
   */
   /* html, body {
    margin: 0;
    padding: 0;
}*/

.prindiv {
    /* background-image: url('../Images/home.png');*/
    /* background-size: cover;  */
    width: auto;
    height: 120vh;
    background-repeat: no-repeat;
    background-position-x: center;
    align-content: center;
    justify-content: center;
    display: block;
    
}

.bar {
    background-color: #FDC500;
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    display: inline-flex;
       
}

.bothome {
    height: 115px;
        
}

.bothome:hover {
    height: 106px;
    opacity: 90%;
}

.cardd {
  /* background-color: #FDC500; */
    border-radius: 3%;
    background-color: rgba(248, 248, 248, 0.471);
    min-height: 500px;
    width:fit-content;
    justify-content: center;
    align-items: center;
    display:flex;
    margin: auto;
    margin-top: 5%;
}

.conpais {
    margin-top: -50px;
    padding-left: 50px;
}

.conact {
    width: 200px;
    margin-left: 70px;
    border-radius: 3%;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.362);
    position: relative;
    left: 50px;
    
}

.titulod {
    color: rgb(58, 76, 90);
    text-align: center;
}

.banderad {
    border-radius: 5px;
    width: 12em;
    height: 7.5em;
    margin-bottom: -10px;
    
}

.nombred {
    color: rgb(9, 57, 154);
    font-weight: bolder;
    font-size:xx-large;
    text-align: center;
    margin-bottom: -15px;
    margin-left: 10px;
    margin-right: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
}

.continented {
    color: rgb(9, 57, 154);
    text-align: center;
    font-size: large;
    margin-bottom: -15px;
}

.codigo {
    color: rgb(9, 57, 154);
    text-align: center;
    
}

.detalle {
    color: rgb(58, 76, 90);
    margin: 4px;

}

.nombreact {
    color: rgb(9, 57, 154);
    margin-bottom: 8px;
}

.botactd {
    font-weight: bold;
    font-size: x-small;
    padding: 4px;
    margin: 20px;
    font-family:'Verdana';
    background-color: antiquewhite;
    border-color: #07648f;
    color: #07648f;
    border-radius: 5px;

}

.botactd:hover {
    background-color: #FFCC33;
    border-color: rgb(235, 174, 19);
    color: rgb(131, 89, 33);
} 

