.container {
    border-radius: 20px;
    background-color: #fdecec;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
  }

form {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: 10px;
  margin-top: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
select,
input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  border: 1px solid #ccc;
}

select {
  background-color: #fff;
}

select:focus {
  outline: none;
  box-shadow: 0 0 5px #569eec;
}

.button {
  padding: 10px 20px;
  font-size: 17px;
  color: rgb(10, 11, 12);
  border-radius: 5px;
  border: none;
  background: #fde7f6;
  background-image: -webkit-linear-gradient(top, #fde7f6, #a2d3f1);
  background-image: -moz-linear-gradient(top, #fde7f6, #a2d3f1);
  background-image: -ms-linear-gradient(top, #fde7f6, #a2d3f1);
  background-image: -o-linear-gradient(top, #fde7f6, #a2d3f1);
  background-image: linear-gradient(to bottom, #fde7f6, #a2d3f1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
  cursor: pointer;
  margin: 0 .5rem 0;
}

.button:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #a2d3f1, #fde7f6);
  background-image: -moz-linear-gradient(top, #a2d3f1 #fde7f6);
  background-image: -ms-linear-gradient(top, #a2d3f1, #fde7f6);
  background-image: -o-linear-gradient(top, #a2d3f1, #fde7f6);
  background-image: linear-gradient(to bottom, #a2d3f1, #fde7f6);
  text-decoration: none;
  }

.button:active {
  background-color: #999;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}

.button_link {
  padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #1affff;
    color: #000000;
    cursor: pointer;
}

.button_home{
  padding: 10px 20px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    background-color: #1affff;
    color: #000000;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 500px;
}


.button_link:active {
  background-color: #999;
  box-shadow: 0 5px #666;
  transform: translateY(1px);
}





ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 10px;
  }
  
  li {
    margin-right: 10px;
  }
  
  li:last-child {
    margin-right: 0;
  }

  .removeButton {
    background-color: #f44336;
    color: rgb(20, 18, 18);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 14px;
    padding: 1px 5px;
    margin-left: 5px;
  }


  .h1_titel{
    color: rgb(20,19,19);
  text-align: center;
  margin-top: 50px;
  }

  .invalid {
    border: 1px solid red;
  }
  



  
  
  
  
