.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #48586169;
    color: white;
    text-align: center;
  }
  .logos_img {
    width: 30px;
    height: 30px;
    padding: 5px;
  }
  
  .colum.n {
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  p {
    font-family: MS Gothic;
    display: contents;
    color: rgb(14, 13, 13);
  }