body {
  background-image: url('../../assets/countries-flags.webp');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
}

.landing_h1 {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 3rem;
  color: #020202;
}

.button {
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background: #fde7f6;
  cursor: pointer;
  background-image: -webkit-linear-gradient(top, #fde7f6, #a2d3f1);
  background-image: -moz-linear-gradient(top, #fde7f6, #a2d3f1);
  background-image: -ms-linear-gradient(top, #fde7f6, #a2d3f1);
  background-image: -o-linear-gradient(top, #fde7f6, #a2d3f1);
  background-image: linear-gradient(to bottom, #fde7f6, #a2d3f1);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
text-shadow: 3px 2px 1px #9daef5;
  -webkit-box-shadow: 6px 5px 24px #666666;
  -moz-box-shadow: 6px 5px 24px #666666;
  box-shadow: 6px 5px 24px #666666;
font-family: Arial;
  color: #070606;
  font-size: 27px;
  padding: 19px;
  text-decoration: none;
}
.button:hover {
  background: #2079b0;
  background-image: -webkit-linear-gradient(top, #a2d3f1, #fde7f6);
  background-image: -moz-linear-gradient(top, #a2d3f1 #fde7f6);
  background-image: -ms-linear-gradient(top, #a2d3f1, #fde7f6);
  background-image: -o-linear-gradient(top, #a2d3f1, #fde7f6);
  background-image: linear-gradient(to bottom, #a2d3f1, #fde7f6);
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #48586169;
  color: white;
  text-align: center;
}

.left {
  display: flex;
  align-items: center;
  padding: 5px;
  margin-right: auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  flex-grow: 1;
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 5px;
}

.logos_img {
  width: 30px;
  height: 30px;
  padding: 5px;
}

.column {
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
p {
  display: contents;
  color: rgb(255, 243, 243);
}

